.mainRoom{
    background-color: rgb(27, 141, 16);
}

.imgs {
    position: relative;
}


.background {
    position: relative;
    width: 720px;
    clip-path: inset(2rem 0 12rem 0);
    top: -32px;
}