.imgs {
    position: relative;
}

.background {
    transition: 1s;
    clip-path: inset(2rem 0 12rem 0);
}

.water {
    position: absolute;
    top: 38%;
    left: 42.5%;
    transition: all 1s linear;
    height: 7.5%;
}

.kitchen .timer {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.kitchen .duck {
    position: absolute;
    top: 50%;
    right: 40%
}